
<app-sidebar></app-sidebar>
  <div id="content">
    <div class="card">
      <div class="card-block margin-all">
        <h4 class="card-title">Welcome {{userData.displayName}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{userData.age}}, {{userData.gender|titlecase}}</h6>
        <p class="card-text">I work here at the <b>{{userData.department| titlecase}}</b> department. Am a native of <u>{{userData.address|titlecase}}</u></p>
    
        <a class="card-link" routerLink="/list-reviews"> My Reviews</a>
        <a class="card-link" routerLink="/take-review"> Take Review</a>
      </div>
    </div>
  </div>
