.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/*
!.idea/runConfigurations
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Fake config to make Webstorm understand vue project’s path aliases
# see https://medium.com/@markni/make-webstorm-understand-your-vue-cli-3-projects-path-aliases-88fc6732404d
webpack.config.js
