    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  
      <a class="navbar-brand margin-left-1rem" href="#">Employee App</a>
      <div class="sidebar" role="navigation">
        <div class="sidebar-nav">
          <ul class="nav flex-column" id="side-menu">
  
            <li class="nav-item">
              <a routerLink="/dashboard" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li class="nav-item">
              <a routerLink="/list-employee"><i class="fa fa-edit fa-fw"></i> List Employees</a>
            </li>
            <li class="nav-item">
              <a routerLink="/list-reviews"><i class="fa fa-edit fa-fw"></i> Performance Reviews</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    