mat-sidenav{
    width: 50%; 
 }
 .head-col1{
    flex: 1;
 
    h3{
       margin-bottom: 0;
       text-align: center;
       font-size: 25px;
       font-weight: 500;
       line-height: 38px;
    }
 }
 .action-col{
    display: inline-flex;
     justify-content: center;
 }
 .col-head{
    font-weight: bold;
    font-size: 15px;
 }