.header {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #eee;
}

.logo {
  color: #ff0133;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
}
