.header {
  display: flex;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #eee;
}

.logo {
  margin-right: 24px;
  color: #ff0133;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}

.menu {
  position: absolute;
  right: 0;
}
