.title {
  margin-top: 20px;
}

.reviewList {
  display: flex;
  flex-wrap: wrap;
}

.reviewCard {
  width: calc((100% - 12px) / 2);
  margin: 12px 12px 0 0;
  background-color: #fff;
}

.reviewCardHead {
  position: relative;
  display: flex;
  align-items: center;
  white-space: pre;
}

.reviewerName {
  margin-left: 5px;
}

.reviewCard:nth-child(2n + 2) {
  margin-right: 0;
}

.reviewText {
  margin-top: 12px;
  white-space: pre-line;
}
