@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 0px 1px 10px #0009;
}

.grid-auto-col {
  grid-auto-columns: 1fr;
}

.animate-opacity {
  animation: opac 20s;
}

.rounded-xl {
  border-radius: 1.25rem;
}

.rounded-l-xl {
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

a[aria-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
}

a[aria-selected="true"] {
  pointer-events: none;
  @apply text-red-500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
